@{
    ViewData["Title"] = "Home Page";


}

<div class="text-center">
    <div>
        <form action="/autorisation" method="post">
            <input type="text" placeholder="Matricule" name="matricule" />
            <input type="password" placeholder="Password" name="paswd" />
            <input type="submit" value="Valider">
        </form>
    </div>
</div>
