@{
    ViewData["Title"] = "Validation des besoins par service";
    var validations = ViewBag.ValidationBesoin as List<string>;
}


<div>
    @foreach(string s in validations) {
        <a href="/ValidationBesoinByNumber/@s">Numero de commande @s</a><br />
    }
</div>

