@{
    ViewData["Title"] = "Validation des besoins par service";
    var validations = ViewBag.ValidationBesoin as List<string>;
}

@foreach(string s in validations)
{
    <a href="/ValidationBesoinByNumero/@s">Numero de commande @s</a><br />
}

